.dashboard-section {
  width: 82%;
  // padding: 15px;
  // min-height: 100vh;
}

.dashboard-size {
  padding: 15px;
  height: 100vh;

}
.white-container {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.dashboard-left {
  height: 100%;
  display: flex;
  flex-flow: column;
  min-margin-bottom: 15px;
}
.dashboard-right {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.ship-container {
  flex-grow: 1;
}
.boxstatus-container {
  height: 300px;
  margin-bottom: 30px;
}
.systems-container {
  flex-grow: 1;
}
@media (max-width: 970px){

  .power-doughnut-section {
    transform: scale(0.7);
  }
}

@media (max-width: 576px){
  .dashboard-section {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .power-doughnut-section {
    transform: scale(0.7);
  }
  .systems-container {
    margin-bottom: 30px;
  }

}

@media (max-width: 576px) and (max-height: 700px){
  .systems-container {
    margin-top: 80px !important;
  }
}
@media (max-width: 576px) and (min-height: 701px){
  .systems-container {
    margin-top: 30px !important;
  }
}

