@import "~react-tabs/style/react-tabs.css";
// @import "react-datepicker/dist/react-datepicker.css";



.fused-dates {
  display: flex;
  justify-content: space-between;
}

.fused-date-filter-wrapper {
    width: 100%;
    height: 35px;
    margin-bottom: 7px;
    display: flex;
    justify-content: left;
    // align-items: center;

}
.fused-map-buttons {
  margin-bottom: 10px;
}
.mmsiSelect {

  display: flex;
}
.fused-selection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.css-2b097c-container {
  width: 300px;
}
.fused-button {
  margin-left: 5px;
  border-radius: 3px;
  font-size: 12px;
  &:hover {
    background-color: #f2f2f2;

  }
}
#fused-datepicking {
  height: 28px;
}
#fused-selection {
  height: 28px;
}
