.compass {
font-size: 0 !important;
}
.grey-container {
    background-color: lightblue;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  }
.wind-speed-text {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
  }
.wind-direction-text {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
.wind-chart-container {
    width: 100%;
    height: 81%;
    padding: 20px 20px;
  }
.image-container
{
  width: 50%;
  height: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.weather-text{
   font-size: 18px;
   height: 100%;
   width: 100%;
   text-align: left;

}
.temp-text-container 
{
   font-size: 40px;
   height: 100%;
   width: 50%;
   padding: 20px 10px;
   text-align: center;
}
.weather-box-top
{
  height: 50%;
  width: 100%;
  display: flex
}
.weather-box-bottom
{
  height: 50%;
  width: 100%
}
.weather-box {
  height: 100%;
}