.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display:   -webkit-flex;
    display:      -moz-flex;
    display:    -ms-flexbox;
    display:           flex;
  }

  .hbox {
    -webkit-flex-direction:      row;
    -ms-flex-direction:          row;
    flex-direction:              row;
  }

  .wrap-reverse         { 
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }  

  .wrap-reverse li {
    background: deepskyblue;
  }

  hr.new5 {
    border: 1px solid grey;
    margin: 20;
  }

  h1{
    font-size: 25px; 
  }