@import 'nav';
@import 'cameras';
@import 'tabs';
@import 'tables';
@import 'datepicker';
@import 'radar';
@import 'dashboard';
@import 'boxstatus';
@import 'shipstatus';
@import 'systems';
@import 'navmobile';
@import 'fused';
@import 'weather2';

body {
  font-family: Helvetica;
  background-color: #EEEEEE;
}

#root {
  // height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
}


@media screen and (max-width: 576px) {
  #root {
    display: block;
  }
}


* {
   font-size: 12px;
   line-height: 2;
}
