@import 'nav';
@import 'cameras';
@import 'tabs';
@import 'tables';
@import 'datepicker';
@import 'radar';
@import 'dashboard';
@import 'boxstatus';
@import 'shipstatus';
@import 'mapbox';

body {
  font-family: Helvetica;
  background-color: #EEEEEE;
}

#root {
  // height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
* {
   font-size: 14px;
   line-height: 2;
}
